.jumbotron{

    text-align: center;
    background-color: transparent;


}
h1{
    color: darkgreen;
}
.card-text{
    color: black;
}
.row{
    background-color: white;
}
.container{
    background-color: transparent;
}

.col{
    color: ;
}